<ion-view title="Sobre">
  <ion-content class="has-header bg-blue" scroll="false">

    <div class="row bg-blue">
      <div class="col">
        <h4 class="title-donation">ProBebê</h4>
      </div>
   </div>

    <div class="row bg-blue">
      <div class="col">
        <p align="center">
          É um aplicativo que vai ajudar você a entender melhor tudo o que é bom para o seu bebê.
        </p>

        <p align="center">
          Desde o inicio da gravidez até os 18 meses você receberá mensagens e orientações de especialistas sobre saúde, educação, desenvolvimento, segurança e finanças, sempre acompanhando a evolução de seu bebê.
        </p>

        <p align="center">
          São informações importantes e surpreendentes sobre os cuidados para que o bebê tenha uma vida feliz e saudável.
        </p>
      </div>
   </div>

  </ion-content>
</ion-view>
