<ion-view title="Artigo">
  <ion-content class="has-header padding bg-white article" >

    <div class="row">
      <div class="col" align="center">
        <div class="row">
          <h4 class="col col-75">{{article.title}}</h4>
          <div ng-click="shareMessage(article.share.text, article.share.url)" class="tab-item item-share-social col col-25">
            <i class="icon ion-android-share-alt article-share"> </i>
          </div>

        </div>


        <h5 class="article-category {{article.category_id}}" style="color: {{article.category_color}}">{{article.category}}</h5>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p ng-bind-html="article.text | hrefToJS"></p>
      </div>
    </div>

  </ion-content>

</ion-view>
