
<ion-view title="" ng-controller="MessagesCtrl">

  <ion-side-menus enable-menu-with-back-views="false">
    <ion-nav-bar class="bar-light">
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>

      <ion-nav-title>
        <h2>{{selectedChild.name}}</h2>
      </ion-nav-title>

      <ion-nav-buttons side="right">
        <img class="logo-nav-home" src="../img/logo_nav.png">
      </ion-nav-buttons>

    </ion-nav-bar>

    <ion-side-menu-content>

      <ion-content class="has-header padding messages-list">
        <div class="card" ng-show="showNoMessage" >

          <div class="item item-divider" ng-class="new-message">
            Messagens
          </div>

          <div class="item item-text-wrap">
            Seu filho(a) ainda não possue messagens
          </div>
        </div>

        <div ng-hide="showNoMessage" class="card" ng-repeat="message in selectedChild.messages | orderBy:'-delivery_date'">

          <div class="item item-divider" ng-class="{'new-message' : message.isNew }">
            {{ message.delivery_date | date }} {{message.isNew}}
          </div>

          <div class="item item-text-wrap">
            {{ message.text }}
          </div>

          <div class="item tabs tabs-secondary tabs-icon-left" ng-if="message.url">

            <a class="tab-item" ng-click="openInBrowser(message)" href="#">
              <i class="icon ion-plus-circled"></i>
              Leia Mais
            </a>
            <div ng-click="shareMessage(message.text, message.url)" class="tab-item item-share-social">
              <i class="icon ion-android-share-alt"> </i>
            </div>

          </div>
        </div>
      </ion-content>
    </ion-side-menu-content>

    <ion-side-menu side="left">
      <ion-content class='has-header bg-blue' scroll='false'>
        <ion-list>
          <ion-item class="bg-blue" nav-clear ng-class="{active: selectedChild == child}" menu-close ng-click="selectChild(child)" ng-repeat="child in children">
            <i>
              <img class="custom-icon" src="../img/icone_bebe.svg">
            </i>
            {{child.name}}
            <span class="badge badge-assertive">{{newMessagesTotal}}</span>
          </ion-item>
        </ion-list>

        <ion-list ng-controller="MicroDonationCtrl">
          <ion-item class="bg-blue" class="bg-blue" nav-clear ng-click="index()">
            <i>
              <img class="custom-icon" src="../img/icone_microdoacao.svg">
            </i>
            Microdoação
            <span class="badge badge-assertive">0</span>
          </ion-item>
        </ion-list>

        <ion-list ng-controller="ProfileCtrl">
          <ion-item class="bg-blue" nav-clear ng-click="index()">
            <i>
              <img class="custom-icon" src="../img/icone_perfil.svg">
            </i>
            Perfil
          </ion-item>
        </ion-list>

        <ion-list ng-controller="AuthCtrl">
          <ion-item class="bg-blue" nav-clear ng-click="signOut()">
            <i>
              <img class="custom-icon" src="../img/icone_saida.svg">
            </i>
            Sair
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-side-menu>
  </ion-side-menus>
</ion-view>
