
<ion-view title="" ng-controller="MessagesCtrl">

  <ion-side-menus enable-menu-with-back-views="false">
    <ion-nav-bar class="bar-light">
      <ion-nav-title>
        <img src='img/logo.png' />
      </ion-nav-title>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <ion-side-menu-content>

      <ion-content class="has-header padding messages-list" overflow-scroll="true">
        <!-- <child-name child="selectedChild"></child-name> -->
        <div ng-hide="selectedChild">
          Carregando ...
        </div>
        <div class="card" ng-repeat="message in selectedChild.messages | orderBy:'-delivery_date'">
          <div class="item item-divider">
            {{ message.delivery_date | date }}
          </div>
          <div class="item item-text-wrap">
            {{ message.text }}
          </div>
          <div class="item tabs tabs-secondary tabs-icon-left" ng-if="message.url">

            <a class="tab-item" ng-click="openInBrowser(message.url)" href="#">
              <i class="icon ion-plus-circled"></i>
              Leia Mais
            </a>
            <div ng-click="shareMessage(message.text, message.url)" class="tab-item item-share-social">
              <i class="icon ion-android-share-alt"> </i>
            </div>

          </div>
        </div>
      </ion-content>
    </ion-side-menu-content>

    <ion-side-menu side="left">
      <ion-content class='has-header' scroll='false'>
        <ion-list>
          <ion-item nav-clear ng-class="{active: selectedChild == child}" menu-close ng-click="selectChild(child)" ng-repeat="child in children">
            <child-name child="child"></child-name>
          </ion-item>
        </ion-list>

        <ion-list ng-controller="ProfileCtrl">
          <ion-item nav-clear ng-click="index()">
            <i class="ion-person"></i>
            Perfil
          </ion-item>
        </ion-list>

        <ion-list ng-controller="AuthCtrl">
          <ion-item nav-clear ng-click="signOut()">
            <i class="ion-close-circled"></i>
            Sair
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-side-menu>
  </ion-side-menus>
</ion-view>
