
<ion-view title="{{selectedChild.name}}" cache-view="false" >
  <!-- ================= MESSAGE TO WHEN USER SIGNUP ===================== -->
  <div class="info-app loading-container active" ng-class="{visible: infoApp}" ng-show="infoApp" ng-click="closeInfoApp()" ng-style="displayNone">
    <div class="card">
      <div class="item item-divider info-app-title">
       BEM VINDA!
      </div>

      <div class="item item-text-wrap info-app-text">
       <p>
        A partir de agora você tem acesso a informações sobre cada momento da gestação ou da fase do seu bebê.
        Você receberá três mensagens novas por semana.
       </p>
      </div>
      <button class="button button-positive button-block">Ok entendi</button>
    </div>

  </div>

  <!-- ======== CATEGORY FILTER =========== -->
  <div class="filter-list loading-container active" ng-class="{visible: filterMenu}" ng-show="filterMenu" ng-style="noFilter">
    <div class="row">
      <ul class="list col">
        <li class="item" ng-click="closeFilter()">
            <b>Filtrar</b>
            <i class="icon ion-close icon-list-filter-close"></i>
        </li>

        <li class="item" ng-click="filterMessages('all')">
          Todos
        </li>

        <li class="item" ng-repeat="category in categories track by category.id" ng-click="filterMessages(category)">
          <i class="icon ion-record icon-list-filter" style="color: {{category.color}}"></i>{{category.name}}
        </li>
      </ul>
    </div>

  </div>


  <!-- =============== STATUS LOADING OR NO MESSAGE ============== -->
  <ion-content class="has-header padding messages-list" keep-scroll>

    <div class="card" ng-show="loadingMessages" >

      <div class="item item-divider" ng-class="new-message">
        Messagens
      </div>

      <div class="item item-text-wrap">
        Carregando...
      </div>
    </div>

    <div class="card" ng-show="messageState" >

      <div class="item item-divider" ng-class="new-message">
        Messagens
      </div>

      <div class="item item-text-wrap">
        Seu bebê ainda não possui messagens
      </div>
    </div>

    <!-- ============== CHILDREN'S OPTIONS ===============-->

    <div class="row box-children-option" ng-show="childrenOptions">
      <div class="col">
        Escolha um bebê para ver as menssagens
      </div>
    </div>

    <div class="row" ng-repeat="child in children" ng-show="childrenOptions">
      <button class="button button-positive button-block" ng-click="goToChild(child.id)" >
        {{child.name}}
      </button>
    </div>

    <!-- ================ BIRTHDAY CARD ===================== -->
    <!-- was necessary css inline to set dynamic path image style -->
    <div ng-if="birthdayCard.show" class="card card-back"
      style="
      background: url('{{birthdayCard.url}}');
      position: static;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-size: cover;
      background-repeat: no-repeat;">

      <div class="item item-divider item-divider-custom header-bd-card" >
        <div class="row">
          <div class="col col-20 bd-card-text">
            {{selectedChild.name}}
          </div>

          <div class="col col-30 bd-card-text">
            {{birthdayCard.age_text}}

          </div>

          <div class="col col-10">
            <img class="flag-new" src="img/flag_novo.svg">
          </div>

        </div>
      </div>

      <div>

      </div>

      <div class="item item-text-wrap padding-text birthday-text">
        {{ birthdayCard.text }}
      </div>
    </div>

    <!-- ================ MESSAGES CARD ===================== -->

    <!-- ================ CURRENT FILTER ================ -->
    <div class="row box-status-filter" ng-hide="childrenOptions || loadingMessages  || (filter.category.id == 0)">

      <div class="col col-30">Filtrado por:</div>

      <div class="col col-50" id="category-selected"
            style="background-color: {{filter.category.color}}"
            ng-click="filterMessages('all')">

        {{filter.category.name}}

        <i class="icon ion-close icon-list-filter-close"></i>
      </div>
    </div>

    <div class="card" ng-show="filterState" >

      <div class="item item-divider" ng-class="new-message">
        Messagens
      </div>

      <div class="item item-text-wrap">
        Seu bebê não possui messagens para essa categoria
      </div>
    </div>

    <div id="messages-container" ng-hide="showNoMessage" collection-repeat="message in messages | filter: hasDeliveryDate | orderBy:'-delivery_date' track by message.id">
      <div class="card">
        <div class="item item-divider item-divider-custom" style="background-color: {{message.category_color}}" >
          <div class="row">

            <div class="col col-30 age-in-week">
              {{message.child_age_in_week_at_delivery.toUpperCase()}} - {{message.article_category}}

            </div>


            <div class="col col-10 date-message">
              {{ message.delivery_date | date: 'd MMM' }}

            </div>

            <div class="col col-10">
              <img ng-show="message.isNew" class="flag-new" src="img/flag_novo.svg">
            </div>

          </div>
        </div>

        <div class="item item-text-wrap padding-text card-body">
          {{ message.text }}
        </div>

        <div class="item tabs tabs-secondary tabs-icon-left" ng-if="message.url">

          <a class="tab-item" ng-click="openInNewPage(message)" href="#">
            <i class="icon ion-plus-circled"></i>
            Leia Mais
          </a>
          <div ng-click="shareMessage(message.text, message.url)" class="tab-item item-share-social">
            <i class="icon ion-android-share-alt"> </i>
          </div>
        </div>
      </div>
      <div class="card-footer"></div>
    </div>
  </ion-content>
</ion-view>
