<ion-view>

  <ion-side-menus enable-menu-with-back-views="false">
    <ion-nav-bar class="bar-light">

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>

      <ion-nav-title>
        <h3>Microdoação</h3>
      </ion-nav-title>

      <ion-nav-buttons side="right">
        <img class="logo-nav-home" src="../img/logo_nav.png">
      </ion-nav-buttons>

    </ion-nav-bar>

    <ion-side-menu-content>
      <ion-content class="has-header bg-white">

        <div class="row bg-blue">
          <div class="col">
            <h4 class="title-donation">Faça uma microdoação</h4>
          </div>
       </div>

        <div class="row bg-blue">
          <div class="col">
            <p align="center">Selecione a quantidade de crianças que deseja ajudar doando SMS</p>
          </div>
       </div>

        <form name="donationForm" class="form-donation" ng-submit="save()" accept-charset="utf-8">

          <h4 class="title-form-donation">Escolha!</h4>

          <div class="row row-slider">
            <div class="col" ng-repeat=" child in imgChild">
              <img class="icon-child-donation" ng-src="{{pathImg($index)}}">
            </div>

          </div>

          <div class="item range">
            <input type="range" name="volume" min="1" max="5" ng-model="recipient.children">
          </div>

          <div class="row">
            <div class="col col-total-child" align="center">
              {{recipient.children}} mensagen(s)
            </div>
          </div>

          <input type="submit" class="button button-block button-positive" value="Doar agora" />

        </form>
      </ion-content>
    </ion-side-menu-content>

    <!-- SIDE MENU -->
    <ion-side-menu side="left">
      <ion-content class='has-header bg-blue' scroll='false'>

        <ion-list ng-controller="MessagesCtrl">
          <ion-item class="bg-blue" nav-clear menu-close ng-click="selectChild(child)" ng-repeat="child in children">
            <i>
              <img class="custom-icon" src="../img/icone_bebe.svg">
            </i>
            {{child.name}}
            <span class="badge badge-assertive">{{newMessagesTotal}}</span>
          </ion-item>
        </ion-list>

        <ion-list ng-controller="MicroDonationCtrl">
          <ion-item class="bg-blue active" class="bg-blue" nav-clear ng-click="index()">
            <i>
              <img class="custom-icon" src="../img/icone_microdoacao.svg">
            </i>
            Microdoação
            <span class="badge badge-assertive">0</span>
          </ion-item>
        </ion-list>

        <ion-list ng-controller="ProfileCtrl">
          <ion-item class="bg-blue" nav-clear ng-click="index()">
            <i>
              <img class="custom-icon" src="../img/icone_perfil.svg">
            </i>
            Perfil
          </ion-item>
        </ion-list>

        <ion-list ng-controller="AuthCtrl">
          <ion-item class="bg-blue" nav-clear ng-click="signOut()">
            <i>
              <img class="custom-icon" src="../img/icone_saida.svg">
            </i>
            Sair
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-side-menu>

  </ion-side-menus>
</ion-view>
