<ion-view title="Microdoação">

  <ion-side-menus enable-menu-with-back-views="false">
    <ion-nav-bar class="bar-light">

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <ion-side-menu-content>
      <ion-content class="has-header padding messages-list" overflow-scroll="true">

        <div class="row">
          <div class="col">
            <h4 align="center">Faça um microdoação</h4>
          </div>
       </div>

        <div class="row">
          <div class="col">
            <p align="center">Selecione a quantidade de crianças que deseja ajudar doando SMS</p>
          </div>
       </div>

        <form name="donationForm" ng-submit="save()" accept-charset="utf-8">

          <div class="item range">
            <i class="icon ion-ios-person-outline"></i>
            <input type="range" name="volume" min="1" max="5" ng-model="recipientChildren">
            <i class="icon ion-ios-people"></i>
          </div>
          <div class="row">
            <div class="col" align="center">
              {{recipientChildren}} Criança(s)
            </div>
          </div>

          <input type="submit" class="button button-block button-positive" value="Doar agora" />

        </form>
      </ion-content>
    </ion-side-menu-content>

    <!-- SIDE MENU -->
    <ion-side-menu side="left">
      <ion-content class='has-header' scroll='false'>
        <ion-list>
          <ion-item nav-clear ng-class="{active: selectedChild == child}" menu-close ng-click="selectChild(child)" ng-repeat="child in children">
            <child-name child="child"></child-name>
          </ion-item>
        </ion-list>

        <ion-list ng-controller="ProfileCtrl">
          <ion-item nav-clear ng-click="index()">
            <i class="ion-person"></i>
            Perfil
          </ion-item>
        </ion-list>

        <ion-list ng-controller="AuthCtrl">
          <ion-item nav-clear ng-click="signOut()">
            <i class="ion-close-circled"></i>
            Sair
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-side-menu>

  </ion-side-menus>
</ion-view>
