<ion-view class="profile">

  <ion-side-menus enable-menu-with-back-views="false">
    <ion-nav-bar class="bar-light">

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>

      <ion-nav-title>
        <h3>Meu Perfil</h3>
      </ion-nav-title>

      <ion-nav-buttons side="right">
        <img class="logo-nav-home" src="img/logo_nav.png">
      </ion-nav-buttons>

    </ion-nav-bar>

    <ion-side-menu-content>
      <ion-content class="has-header bg-white">

        <div class="row" id="goMgs" ng-class="{ 'sucessMgs' : showSuccessMgs }">
          <div class="col" ng-hide="showSuccessMgs">
            Adicione filhos, edite telefone, e-mail e dados pessoais aqui
          </div>
          <div class="col" ng-show="showSuccessMgs" align="center">
            Seu perfil foi atualizado!
          </div>
        </div>

        <div class="row">
          <div class="col">
            <form name="profileForm" ng-submit="save(profileForm)" accept-charset="utf-8">
              <!-- PERSONAL INFORMATION -->
              <ion-list>
                <h4>Informações Pessoais</h4>

                <fieldset>
                  <label class="item item-input" >
                    <span class="input-label">Nome</span>
                    <input type="text" name="userName" ng-model="profile.name">
                  </label>

                  <label class="item item-input">
                    <span class="input-label">Sexo</span>

                      <label class="item item-radio">
                        <input type="radio" name="gender" ng-model="profile.gender" value="female">
                        <div class="item-content">F</div>
                        <i class="radio-icon ion-checkmark"></i>
                      </label>

                      <label class="item item-radio">
                        <input type="radio" name="gender" ng-model="profile.gender" value="male">
                        <div class="item-content">M</div>
                        <i class="radio-icon ion-checkmark"></i>
                      </label>
                  </label>
                </fieldset>

              </ion-list>

              <!-- SONS NESTED FORM -->
              <div class="list sons-nested-list">

                <h4 class="">
                  Cadastro de Filhos
                </h4>

                <div ng-repeat="son in profile.sons">
                  <fieldset ng-hide="son._destroy">

                    <legend>
                      {{$index+1}}° Filho
                      <i class="radio-icon ion-close" ng-click="showConfirm($index, profile)"></i>
                    </legend>

                    <label class="item item-input" ng-class="{ 'has-error' : profileForm.sonName{{$index}}.$invalid}">
                      <span class="input-label">Nome</span>
                      <input type="text" name="sonName{{$index}}" ng-model="profile.sons[$index].name"  ng-required="{{$index}} == 0">
                    </label>

                    <label class="item item-input">
                      <span class="input-label">Data nasc.</span>
                      <input type="date" name="sonBornDate" ng-model="profile.sons[$index].bornDate"  ng-required="{{$index == 0}}">
                    </label>
                    <div class="message-bornDate">Se você está grávida, coloque a data aproximada do parto</div>
                    <label class="item item-input">
                      <span class="input-label">Sexo</span>

                        <label class="item item-radio">
                          <input type="radio" name="female{{$index}}" value="female" ng-model="profile.sons[$index].gender">
                          <div class="item-content">F</div>
                          <i class="radio-icon ion-checkmark"></i>
                        </label>

                        <label class="item item-radio">
                          <input type="radio" name="male{{$index}}" value="male" ng-model="profile.sons[$index].gender">
                          <div class="item-content">M</div>
                          <i class="radio-icon ion-checkmark"></i>
                        </label>
                    </label>
                  </fieldset>
                </div>

                <button type="button" class="button button-block button-positive" ng-click="addSon()"> Adicionar outro filho </button>
              </div>

              <!-- CELLPHONE INFORMATION -->
              <h4>Telefones</h4>
              <p>
                Cadastre seu número de celular para receber informações personalizadas sobre os cuidados básicos do bebê.
              </p>
              <div class="list">
                <label class="item item-input" ng-class="{ 'has-error' : profileForm.cellPhone.$invalid}">
                  <span class="input-label">Celular</span>
                  <input type="text" ng-keyup="validadeCellNumber()" name="cellPhone" ng-model="profile.cellPhone" required>
                </label>

              </div>
              <button type="submit" class="button button-block button-positive" /> {{ profileForm.$valid ? 'Atualizar perfil': 'Preencha todos os campos'}} </button>
            </form>
          </div>
        </div>
      </ion-content>
    </ion-side-menu-content>

    <!-- SIDE MENU -->
    <ion-side-menu side="left">
      <ion-content class='has-header bg-blue' scroll='false'>

        <ion-list ng-controller="MessagesCtrl">
          <ion-item class="bg-blue" nav-clear menu-close ng-click="selectChild(child)" ng-repeat="child in children">
            <i>
              <img class="custom-icon" src="img/icone_bebe.svg">
            </i>
            {{child.name}}
            <span class="badge badge-assertive">{{newMessagesTotal}}</span>
          </ion-item>
        </ion-list>

        <ion-list ng-controller="MicroDonationCtrl">
          <ion-item class="bg-blue" class="bg-blue" nav-clear ng-click="index()">
            <i>
              <img class="custom-icon" src="img/icone_microdoacao.svg">
            </i>
            Microdoação
            <span class="badge badge-assertive">0</span>
          </ion-item>
        </ion-list>

        <ion-list ng-controller="ProfileCtrl">
          <ion-item class="bg-blue active" nav-clear ng-click="index()">
            <i>
              <img class="custom-icon" src="img/icone_perfil.svg">
            </i>
            Perfil
          </ion-item>
        </ion-list>

        <ion-list ng-controller="AuthCtrl">
          <ion-item class="bg-blue" nav-clear ng-click="signOut()">
            <i>
              <img class="custom-icon" src="img/icone_saida.svg">
            </i>
            Sair
          </ion-item>
        </ion-list>

      </ion-content>
    </ion-side-menu>

  </ion-side-menus>
</ion-view>
