<ion-nav-bar class="bar-light">
  <ion-nav-title>
    <img src='img/logo.png' />
  </ion-nav-title>
</ion-nav-bar>
<ion-view title="">
  <ion-content class='signin-content' class="has-header padding signin-style" scroll="false">
    <div class='signin-content signin-style'>
      <form ng-submit="signIn()" method="get" accept-charset="utf-8">
        <div class="list list-inset">
          <label class="item item-input">
            <input type="email" placeholder="Email" ng-model="login_info.email">
          </label>
          <label class="item item-input">
            <input type="password" placeholder="Password" ng-model="login_info.password">
          </label>
        </div>
        <input type="submit" class="button button-block button-positive" value="Entrar" />
      </form>
      <a href="#" class='sign-up-link' ng-click="signUp()">
        Criar usuário no Site
      </a>
    </div>
  </ion-content>
</ion-view>
