
<ion-view hide-nav-bar="true">

  <div class="row sign-logo">
    <div class="col col-center">
      <img class="img-logo" src='img/logo_probebe.png' />
    </div>
  </div>

  <ion-content class='signin-content' class="has-header padding signin-style" scroll="false">
    <div class='signin-content signin-style  sign-tab'>
      <!-- NAV BUTTONS -->
      <div class="row">
        <div class="col button-tab-sign" class="button-tab-sign-active">Esqueceu sua senha?</div>
      </div>

      <form name="formResetPassword" class="animate-hide" ng-submit="newPassword(formResetPassword)" accept-charset="utf-8">
        <div class="list list-inset">

          <label class="item item-input" ng-class="{ 'has-error' : formResetPassword.email.$invalid}">
            <input type="email" name="email" placeholder="Email" ng-model="login_info.email">
          </label>

        </div>
        <input type="submit" class="button button-block button-positive" value="Instruções para uma nova senha" />
      </form>

    </div>

  </ion-content>
</ion-view>
