
<ion-view title="">

  <div class="row sign-logo">
    <div class="col col-center">
      <img class="img-logo" src='img/logo_probebe.png' />
    </div>
  </div>

  <ion-content class='signin-content' class="has-header padding signin-style" scroll="false">

    <div class='signin-content signin-style'>
      <form ng-submit="signIn('messages')" method="get" accept-charset="utf-8">
        <div class="list list-inset">
          <label class="item item-input">
            <input type="email" placeholder="Email" ng-model="login_info.email">
          </label>
          <label class="item item-input">
            <input type="password" placeholder="Password" ng-model="login_info.password">
          </label>
        </div>
        <input type="submit" class="button button-block button-positive" value="Entrar" />
      </form>

      <div class='strike-parent'>
        <div class='strike'>
          <span>ou</span>
        </div>
      </div>

      <a href="#/sign_up" class='button button-block button-positive' >
        Cadastrar
      </a>
    </div>

  </ion-content>
</ion-view>
