
<ion-view title="">

  <div class="row sign-logo">
    <div class="col col-center">
      <img class="img-logo" src='img/logo_probebe.png' />
    </div>
  </div>

  <ion-content class='signin-content' class="has-header padding signin-style" scroll="false">
    <div class='signin-content signin-style  sign-tab'>
      <!-- NAV BUTTONS -->
      <div class="row">
        <div class="col button-tab-sign" ng-class="{'button-tab-sign-active' : form.signin }" ng-click="toggleTab()">Login</div>
        <div class="col button-tab-sign" ng-class="{'button-tab-sign-active' : form.signup }" ng-click="toggleTab()">Cadastrar</div>
      </div>

      <form ng-show="form.signin" class="animate-hide" ng-submit="signIn('messages')" method="get" accept-charset="utf-8">
        <div class="list list-inset">
          <label class="item item-input">
            <input type="email" placeholder="Email" ng-model="login_info.email">
          </label>
          <label class="item item-input">
            <input type="password" placeholder="Senha" ng-model="login_info.password">
          </label>
        </div>
        <input type="submit" class="button button-block button-positive" value="Entrar" />
      </form>

      <form ng-show="form.signup" class="animate-hide" name="signUpForm" ng-submit="signUp(signUpForm)" accept-charset="utf-8">
        <div class="list list-inset">

          <label class="item item-input" ng-class="{ 'has-error' : signUpForm.userName.$invalid}">
            <input type="text" name="userName" placeholder="Nome" ng-model="user.name" required>
          </label>

          <label class="item item-input" ng-class="{ 'has-error' : signUpForm.email.$invalid}">
            <input type="email" name="email" placeholder="Email" ng-model="user.email" required>
          </label>

          <label class="item item-input" ng-class="{ 'has-error' : signUpForm.password.$invalid}">
            <input type="password" name="password" placeholder="Senha" ng-model="user.password" required>
          </label>
        </div>

        <button type="submit" class="button button-block button-positive"> {{ signUpForm.$valid ? 'Cadastrar': 'Preencha todos os campos'}} </button>
      </form>
      <!-- <div class='strike-parent'>
        <div class='strike'>
          <span>ou</span>
        </div>
      </div>

      <a href="#/sign_up" class='button button-block button-positive' >
        Cadastrar
      </a> -->
    </div>

  </ion-content>
</ion-view>
