
<ion-view hide-nav-bar="true">


  <ion-content class='signin-content' class=" padding signin-style" scroll="x">
    <div class="row sign-logo">
      <div class="col col-center">
        <img class="img-logo" src='img/logo_probebe.png' />
      </div>
    </div>

    <div class='signin-content signin-style  sign-tab' ng-hide="authSocial">
      <!-- NAV BUTTONS -->
      <div class="row">
        <div class="col button-tab-sign" ng-class="{'button-tab-sign-active' : form.signin }" ng-click="toggleTab()">Login</div>
        <div class="col button-tab-sign" ng-class="{'button-tab-sign-active' : form.signup }" ng-click="toggleTab()">Cadastrar</div>
      </div>

      <form ng-show="form.signin" name="signInForm" class="animate-hide" ng-submit="signIn('app.messages')" method="get" accept-charset="utf-8">

        <div class="list list-inset">
          <label class="item item-input" ng-class="{ 'has-error' : signInForm.email.$invalid}">
            <input type="email" name="email" placeholder="Email" ng-model="login_info.email" required>
          </label>
          <label class="item item-input" ng-class="{ 'has-error' : signInForm.password.$invalid}">
            <input type="password" name="password" placeholder="Senha" ng-model="login_info.password" required>
          </label>
        </div>

        <div class="row">
          <a class="link-password" ui-sref="resetPassword">Esqueci minha senha</a>
        </div>

        <input type="submit" class="button button-block button-positive" value="Entrar" />
      </form>

      <form ng-show="form.signup" class="animate-hide" name="signUpForm" ng-submit="signUp(signUpForm)" accept-charset="utf-8">
        <div class="list list-inset">

          <label class="item item-input" ng-class="{ 'has-error' : signUpForm.userName.$invalid}">
            <input type="text" name="userName" placeholder="Nome" ng-model="user.name" required>
          </label>

          <label class="item item-input" ng-class="{ 'has-error' : signUpForm.email.$invalid}">
            <input type="email" name="email" placeholder="Email" ng-model="user.email" required>
          </label>

          <label class="item item-input" ng-class="{ 'has-error' : signUpForm.password.$invalid}">
            <input type="password" name="password" placeholder="Senha" ng-model="user.password" required>
          </label>
        </div>

        <button ng-if="!signUpForm.$valid" class="form-status">
          Preencha todos os campos
        </button>

        <button type="submit" ng-disabled="!signUpForm.$valid" class="button button-block button-positive">
          Cadastrar
        </button>
      </form>
      <div class='strike-parent'>
        <div class='strike'>
          <span>ou</span>
        </div>
      </div>

      <div class="row">
        <div class="col col-50">
          <button ng-click="signFacebook()" class="button button-fb button-block icon-left ion-social-facebook">
          Facebook
          </button>
        </div>
        <div class="col col-50">
          <button ng-click="signGooglePlus()" class="button button-assertive button-block icon-left ion-social-googleplus">
          Google+
          </button>

        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
