a {
  color: blue;
  height: 25px;
}

label.item.has-error {
  border-left: 2px solid red;
}

.pane {
  background-color: transparent;
}

.messages-list{
  background: url("../img/bg-home.jpg");
  position: fixed;
  width: 100%;
  height: 100%;
  top: 22px;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.bar.bar-light {
  border-color: #ddd;
  background-color: #f69343;
  color: #FFF;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.bar-light .button.button-clear {
  border-color: transparent;
  background: none;
  box-shadow: none;
  color: #FFF;
  font-size: 17px;
}

.bar.bar-light .title {
  text-align: center;
  color: #FFF;
}

/*.bar .title {
  margin: 0 10px;
  min-width: 30px;
  height: 43px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 17px;
  line-height: 44px;
}*/

.item.tabs.tabs-secondary.tabs-icon-left {
  border-bottom: 5px solid #F9B47D !important;
  border-radius: 0px 0px 6px 6px !important;
  border-top: 1px dotted #ccc !important;
}

.tabs-icon-left.tabs .tab-item .icon:before, .tabs-icon-left > .tabs .tab-item .icon:before, .tabs-icon-right.tabs .tab-item .icon:before, .tabs-icon-right > .tabs .tab-item .icon:before {
  font-size: 24px;
  color: #F69343;
  line-height: 49px;
  top: -3px;
}

.item-divider {
  padding-top: 8px;
  padding-bottom: 8px;
  min-height: 30px;
  background-color: rgba(86, 86, 86, 0.87);
  color: #fff;
  font-weight: bold;
  border: none;
}

.button.button-positive {
  border-color: #D87F36;
  background-color: #F69343;
  color: #fff;
  width: 94% !important;
  margin-left: 3%;
}

.bg-sign{
  background: url("../img/bg-sign.jpg");
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.signin-style .pane, .signin-style .view{
  background: none;
}

.signin-style.padding.signin-style.scroll-content.ionic-scroll.has-header .scroll {
  position: absolute;
  bottom: 0px;
  width: 95%;
}

.signin-style.keyboard-open .padding.signin-style.scroll-content.ionic-scroll.has-header .scroll {
  position: absolute;
  bottom: -40px;
  width: 95%;
  -webkit-transform: translate3d(0px, -40px, 0px) scale(1) !important;
}

.signin-style button.button.button-light.button-full {
  border-color: #D87F36;
  background-color: #F69343;
  color: #fff;
  width: 94% !important;
  margin-left: 3%;
  border-radius: 3px;
}

.signin-style .item {
  border-color: rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.92);
  position: relative;
  z-index: 2;
  display: block;
  margin: -1px;
  padding: 10px 15px;
  border-width: 1px;
  border-style: solid;
  font-size: 16px;
}

.signin-style .item input{
  color: #333 !important;
}

.signin-style .card, .list-inset {
  overflow: hidden;
  margin: 20px 10px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0);
}

.signin-content {
  position: absolute;
  width: 100%;
  bottom: 5px;
}

.side-menu{
  top: 40px;
}

.nav-bar-title{
  margin-top: 10px;
}

.sign-up-link{
  font-size: 18px;
  text-align: center;
  width: 100%;
  position: relative;
  float: left;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.strike-parent{
  padding: 10px;
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.strike > span {
    position: relative;
    display: inline-block;
    color: white;
    font-size: 15px;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 2px;
    background: white;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}

.sons-nested-list{
  margin-top: 15px;
  background-color: #f4f4f4;
  padding-left: 1px;
}

.item-divider{
  background-color: #ccc;
}

 .item-radio input:checked ~ .item-content {
  background: #f69343;
}
.message-bornDate{
  font-size: 10px;
  font-style: italic;
  text-align: center;
}

.row .col{
  padding: 2px;
}

.profile .item-input{
  width: 95% !important;
  margin: 0 auto !important;
}

.popup-buttons > button{
  padding: 0px;
  font-size: 10px;
}

.item-share-social{
  position: absolute;
  right: 5px;
}

.sign-logo{
  margin-top: 30px;
}

.img-logo{
  height: 80px;
  display: block;
  margin: auto;
}

.button-tab-sign{
  border-bottom: 3px solid #fff;
  text-align: center;
  padding: 15px !important;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.button-tab-sign-active{
  border-bottom: 3px solid #F69343;
  color: #f69343;
}

.sign-tab{
  height: 330px !important;
}

.img-loadding{
  display: block;
  margin: auto;
  width: 130px;
}

.box-loadding{
  height: 100%;
  background-color: #b8e3e9;
}

.title-loadding{
  color: #fff;
  text-align: center;
}
